@font-face {
    font-family: tesla;
    src: url(font/TESLA.ttf);
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main {
    width:99vw;
    min-height:98vh;
    display:grid;
    grid-template-rows:10vw 34vw 5vw;
    grid-template-columns:repeat(4, 24vw);
    grid-gap:1vw;
    grid-template-areas:
    "header header header header"
    "geek drive colonize mars"
    "footer footer footer footer";
    background-color: lightgray;
}
a {
    color:blue;
    font-size: 1.2em;
    text-decoration:none;
}
a:hover {
    color:hsl(0,100%,45%);
}
header {
    background-color: hsl(0,0%,100%);
    grid-area:header;
    box-shadow : 0 10px 10px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.19);
    background-image: url(img/musk2.jpg);
    background-position: 1000% 30%;
    background-size: auto 900%;
    background-repeat: no-repeat;
}
header > h1 {
    font-family:tesla;
    font-size: 5vw;
    margin:0 2vw;
    color:hsl(0,100%,45%);
}
header > h2 {
    font-size: 2vw;
    margin-top:0;
    margin-left : 4vw;
}
#geek {
    grid-area:geek;
}
#drive {
    grid-area:drive;
}
#live {
    grid-area:colonize;
}
#mars {
    grid-area:mars;
}
#geek_screen {
    background-color:hsl(60,80%,80%);
}
#drive_screen {
    background-color: hsl(180,50%,80%);
}
#live_screen {
    background-color: hsl(120,50%,80%);
}
#mars_screen {
    background-color: hsl(0,100%,90%);
}
.card {
    z-index: 10;
    overflow:hidden;
    background-color: hsl(0,0%,95%);
    box-shadow : 0 10px 10px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.19);
}
.card > h1 {
    font-family:tesla;
    color:hsl(0,100%,45%);
    margin-left:2vw;
    font-size: 2vw;
    margin-top:1vw;
}
.text_wrapper {
    position:absolute;
    height:28vw;
    width:22vw;
    text-align: justify;
    margin:0 1vw;
}
p {
    font-size: 0.85vw;
}
.screen {
    position:relative;
    top:-6%;
    height:130%;
    transform:skewY(-15deg);
    overflow: hidden;
    transition-duration:1.5s;
}
.cover_screen {
    content:"";
    position:absolute;
    top:5%;
    width:100%;
    height:24vw;
    transform:skewY(15deg);
    transition-duration: 1.5s;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, 25%);
    align-items: center;
    justify-items: center;
    grid-row-gap: 1vw;
}
.up {
    top:-6%;
    opacity:1;
}
.down {
    top:80%;
    opacity:0;
}
.date {
    font-size: 1.1em;
    font-style:italic;
}
img {
    height:100%;
    width:90%;
}
#zip {
    width:auto;
    height:10vw;
}
#tesla {
    grid-area : 1/1/3/1;
}
#solar {
    grid-area : 1/1/5/1;
    height:auto;
}
#spacex {
    grid-area : 1/1/5/1;
    height:auto;
}
footer {
    background-color: hsl(260,50%,80%);
    grid-area:footer;
    z-index:15;
    display:grid;
    grid-template-columns:1fr repeat(3, 6vw);
    align-items:center;
    justify-items:center;
}
svg {
    width:5vw;
    height:auto;
}
#wiki_logo {
    border:solid 1px black;
    display:inline-block;
    height:5vw;
    width:5vw;
}


@media (max-width:900px) {
    main {
    grid-template-rows:10vw 27vw 27vw 5vw;
    grid-template-columns:repeat(2, 48vw);
    grid-gap:1vw;
    grid-template-areas:
    "header header"
    "geek drive"
    "colonize mars"
    "footer footer";
    }
    .text_wrapper {
        width:46vw;
    }
    p {
        font-size: 1vw;
    }
    .screen {
        top:-20%;
    }
    .up {
        top:-20%;
    }
    .down {
        top:80%;
    }
    .cover_screen {
        top:10%;
        height:20vw;
    }
}
/* @media (max-width:900px) { */
    /* main { */
        /* grid-template-columns:1fr; */
        /* grid-template-rows: 1fr; */
        /* grid-template-areas: */
        /* "header" */
        /* "geek" */
        /* "drive" */
        /* "colonize" */
        /* "mars" */
        /* "footer"; */
    /* } */
    /* header { */
        /* background-position: 25% 30%; */
        /* background-size: auto 900%; */
        /* [> background-size: auto 200%; <] */
        /* background-repeat: no-repeat; */
    /* } */
    /* .screen { */
        /* [> display:none; <] */
        /* transform:skewX(-15deg); */
    /* } */
/* } */
